@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Urbanist:700,900,300,600,800|Kanit:400");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63589f9dd40a1d649668f4b0.63589f9e2d900f734a99e646.SOLiPIu.rcp.png");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  background: linear-gradient(
    180deg,
    rgb(127, 222, 255) 0.21%,
    rgb(255, 255, 255) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}
